<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Flyff_Program.Properties.Settings.SQLConnection" connectionString="Data Source=DESKTOP-607VP26;Initial Catalog=ACCOUNT_DBF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>